/*
    STYLE DES PAGES CONNEXION / INSCRIPTION ET RESET MDP
*/

a.button {
    display: flex;
    justify-content: center;
}


input[type="radio"]{
    display: none;
}

input[type="radio"] + label{
    padding: 0.5rem 0rem;
    width: 30%;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #6c757d;
    border: 1px solid transparent;

}

input[type="radio"].radioConducteur:hover + label{
    background-color: #218838;
    border-color: #1e7e34;
}

input[type="radio"].radioconducteur:checked + label{
    background-color: var(--couleur-primaire);
    border-color: var(--couleur-primaire);
}

input[type="file"]{
    border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}