/*
    STYLE DES PAGES CONNEXION / INSCRIPTION ET RESET MDP
*/

main{
    position: relative;
}

/* ajoute l'image puis floute avant tout pour éviter de flouter tout le contenu de la page*/
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/parking.jpg');
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

a.button {
    display: flex;
    justify-content: center;
}


