

a.button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-top: var(--spacing-unit);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, opacity 0.3s;
    box-sizing: border-box;
}


#aMdp {
    background-color: var(--primary-color);
    color: white;
}

#aMdp:hover {
    background-color: #0056b3;
}

#aCompte {
    background-color: var(--secondary-color);
    color: white;
    margin-top: 0.75rem;
}

#aCompte:hover {
    background-color: #1e7e34;
}