/*
    STYLE DES PAGES AVEC UN FORMULAIRE ET/OU INPUT
*/

/* Définition des variables */
:root {
    --couleur-primaire: #0f9c22;
    --fond-des-cartes: #ffffff;
    --couleur-du-texte: #343a40;
    --taille-bordure: 8px;
    --espace: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: var(--espace);
}

label {
    display: block;
    margin-bottom: 0.25rem;
    margin-top: 0rem;
    font-weight: 600;
    color: var(--couleur-du-texte);
    font-size: 0.95rem;
}

.radio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    display: none;
}


input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    margin-top: 0rem;
    border: 1px solid #ced4da;
    background-color: var(--fond-des-cartes);
    font-size: 1rem;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: var(--couleur-primaire);
    outline: none;
}

input[type="submit"] {
    background-color: var(--couleur-primaire);
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: var(--taille-bordure);
    font-size: 1rem;
    cursor: pointer;
}

input[type="datetime-local"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: var(--border-radius);
    font-size: 1rem;
    color: var(--text-color);

}

input[type="datetime-local"]:focus {
    border-color: var(--primary-color);
    outline: none;
}

input[type="file"]{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + label{
    padding: 0.5rem 0rem;
    width: 30%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #6c757d;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

input[type="radio"].radioAller:not(:disabled):hover + label,
input[type="radio"].radioRetour:not(:disabled):hover + label{
    background-color: #218838;
    border-color: #1e7e34;
}

input[type="radio"].radioAller:checked + label,
input[type="radio"].radioRetour:checked + label{
    background-color: var(--couleur-primaire);
    border-color: var(--couleur-primaire);
}
