#recherche{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trajet {
    background-color: var(--card-background);
    padding: var(--spacing-unit);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-top: var(--spacing-unit);
    display: flex;
    flex-direction: column;
}

.filtres {
    display: flex;
    gap: var(--spacing-unit);
    margin-bottom: var(--spacing-unit);
    justify-content: center;
    width: 100%;
    flex-direction: row;
}