/*
    STYLE DE LA PAGE INDEX (ACCUEIL)
*/

/* Définition des variables */
:root {
    --couleur-primaire: #1A8931;
    --fond-des-cartes: #ffffff;
    --taille-bordure: 8px;
    --espace: 1rem;
}


nav > a.button {
    color: var(--fond-des-cartes);
    display: flex;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    margin: 0.5rem 1rem;
    background-color: var(--couleur-primaire);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;    
    text-decoration: none;
}

.divRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: var(--espace);

}

.loupe{
    width: 30px;
    border: 0.2rem solid var(--couleur-primaire);
    border-radius: 0.3rem;
    padding: 0.3rem;    
    transition: all 0.3s ease-in-out;
}

.loupe:hover{
    background-color: var(--couleur-primaire);
}

#recherche{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main{
    position: relative;
}

/* ajoute l'image puis floute avant tout pour éviter de flouter tout le contenu de la page*/
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/parking-vide.jpg');
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.filtres{
    display: flex;
    justify-content: space-around;
}

select {
    color: var(--couleur-primaire);
    border-radius: var(--taille-bordure);
    padding: 0.5rem 1rem;
    width: 50%;
    margin: 0.2rem;
    
    /*Pour Firefox qui supporte pas ::picker*/
    appearance: none;
    background-color: white;
    border: 1px solid #767676;
    
}

/* Pour Chrome Edge OperaGX, remplace par base-select W3C renvoit une erreur car base-select et ::picker() sont des fonctionnalités expérimentales */
@supports (appearance: base-select) {
    select,
    select::picker(select) {
        appearance: base-select;
        padding: 0.1rem 1rem;
    }
}