/*
    STYLE RESPONSIVE POUR LES PAGES
*/

@media (max-width: 768px) {
    nav > a.button {
        align-items: center;
        padding: 0.6rem 1rem;
        margin: 0.5rem 0rem;
        text-align: center;
    }

    input[type="submit"] {
        white-space: normal;
        width: 100%;
    }

    input[type="radio"] + label{
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
        max-width: 50%;
        min-width: 30%;
    }

    .radio{
        justify-content: center;
        align-items: center;
        gap: 10%;
        margin: 0 -4rem;
    }
}